.DS_Store
__pycache__/
/downloads/
/dist/
/local-backups/
*.ReaperConfigZip
*.rpp-bak
*.RPP
*.rpp
!common/ProjectTemplates/*.RPP
!common/ProjectTemplates/*.rpp
*.reapeaks
reaper-reginfo*.ini
reaper-license.rk
